<% provide(:title, t(".help_title_name") ) %>

<h1><%= t ".help_title" %></h1>
<p>
  <%= t ".help_content" %>
  <a href="http://www.railstutorial.org/help"><%= t(".help_link1") %></a>.
  <%= t(".help_content2") %>
  <a href="http://www.railstutorial.org/book"><em><%= t(".help_link2") %></em>
    book</a>.
</p>

