<div id="create-error"></div>
<%= form_for :user, url: users_path, html: {id: "create-box"},
  remote: true, method: :post do |f| %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-user fa-fw"></i>
        <%= f.label :name %>
      </div>
      <%= f.text_field :name, class: "form-control",
        placeholder: "input_name" %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-envelope-o fa-fw"></i>
        <%= f.label :email %>
      </div>
      <%= f.email_field :email, class: "form-control",
        placeholder: "input_email" %>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-key fa-fw"></i>
          <%= f.label :password %>
        </div>
        <%= f.password_field :password, class: "form-control",
          placeholder: "input_password" %>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-key fa-fw"></i>
          <%= f.label :confirm %>
        </div>
        <%= f.password_field :password_confirmation, class: "form-control",
          placeholder: "input_password_confimartion" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Create", class: "btn btn-block btn-primary" %>
  </div>
<% end %>
