<div class="modal-body row">
  <div class="col-sm-12">
    <div class="well well-small">
      <span class="label label-success"><%= t ".name" %></span>
      <%= @publisher.name %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="well well-small">
      <span class="label label-success"><%= t ".address" %></span>
      <%= @publisher.address %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="well well-small">
      <span class="label label-success"><%= t ".phone" %></span>
      <%= @publisher.phone %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="well well-small">
      <span class="label label-success"><%= t ".email" %></span>
      <%= @publisher.email %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="well well-small">
      <span class="label label-success"><%= t ".description" %></span>
      <%= @publisher.description %>
    </div>
  </div>
</div>
