<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".number_book" %></th>
      <th><%= t ".action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.books.size %></td>
        <td>
          <%= link_to "#", title: t(".show") do %>
            <i class="fa fa-eye"></i>
          <% end %> |
          <%= link_to "#", title: t(".edit") do %>
            <i class="fa fa-pencil"></i>
          <% end %> |
          <%= link_to "#", title: t(".delete"), method: :delete,
            data: {confirm: t(".are_you_sure")} do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories, theme: "twitter-bootstrap-3" %>

<p>
  <%= link_to t(".new_category_button"), "#",
    class: "btn btn-primary", data: {toggle: "modal", target: "#modal_create_cate"} %>
</p>
