<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t ".index" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".number_book" %></th>
      <th><%= t ".edit" %></th>
      <th><%= t ".delete" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @categories.any? %>
      <%= render "sub_table_data" %>
    <% else %>
      <tr>
        <td colspan="5" class="text-center no-data"><%= t ".no_data" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-lg-7">
     <%= t ".show" %><%= Settings.categories.per_page %> <%= t ".of" %>
     <%= @category_size %> <%= t ".record" %><br>
  </div>
  <div class="col-lg-5">
      <%= paginate @categories, theme: "twitter-bootstrap-3" %>
  </div>
</div>
