<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".email" %></th>
      <th><%= t ".role" %></th>
      <th><%= t ".options" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.is_admin? ? t(".admin") : t(".member") %></td>
        <td>
          <%= link_to admin_user_path(user),
            class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <%= link_to edit_admin_user_path(user),
            class: "btn-edit-user btn btn-warning" do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users, theme: "twitter-bootstrap-3" %>
