<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".email" %></th>
      <th><%= t ".role" %></th>
      <th><%= t ".options" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.is_admin? ? t(".admin") : t(".member") %></td>
        <td>
          <%= link_to "#", title: t(".show") do %>
            <i class="fa fa-eye"></i>
          <% end %>
          <%= link_to "#", title: t(".edit") do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to "#", title: t(".edit"), method: :delete,
            data: {confirm: t(".confirm")} do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
