<% provide :title, t(".user_list") %>

<h1 class="text-center"><%= t ".all_users" %></h1>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th><%= t ".name" %></th>
    <th><%= t ".role" %></th>
    <th><%= t ".delete" %></th>
  </tr>
  </thead>
  <tbody>
  <% if @users.any? %>
    <%= render "table_data" %>
  <% else %>
    <tr>
      <td colspan="3" class="text-center no-data"><%= t ".no_data" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-lg-12">
    <%= paginate @users, theme: "twitter-bootstrap-3" %>
  </div>
</div>


