<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".app_name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".help"), help_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t(".languages") %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to_unless I18n.locale == :vn,
              t(".vietnam"), locale: :vn %></li>
            <li><%= link_to_unless I18n.locale == :en,
              t(".english"), locale: :en %></li>
          </ul>
        </li>
        <li>
          <% if logged_in? %>
            <%= link_to t(".log_out"), logout_path, method: :delete %>
          <% else %>
            <%= link_to t(".login"), login_path %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
