<!--nav bar-->

<nav class="navbar navbar-fixed-top">
  <div class="menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to root_path, title: t(".app_name") do %>
          <%= image_tag("framgia_logo.png", size: "150x70", alt: "framgia_logo", class: "framgia_logo") %>
        <% end %>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-left">
          <li class="active">
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home"></span> <%= t ".home" %>
            <% end %>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="glyphicon glyphicon-globe"></span> <%= t ".languages" %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to_unless I18n.locale == :vn, t(".vietnam"), locale: :vn %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to_unless I18n.locale == :en, t(".english"), locale: :en %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#search"><i class="glyphicon glyphicon-search"></i></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user-circle-o"></i> <%= t ".account" %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.is_admin? %>
                  <li>
                    <%= link_to admin_root_url do %>
                      <i class="fa fa-bars"></i> <%= t ".dashboard" %>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                <% end %>
                <li>
                  <%= link_to "#", data: {toggle: "modal", target: "#settingsModal"} do %>
                    <i class="fa fa-cog"></i> <%= t ".settings" %>
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to logout_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i> <%= t ".log_out" %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to "#" do %>
                <span class="glyphicon glyphicon-chevron-up"> </span> <%= t ".signup" %>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <span class="glyphicon glyphicon-log-in"> </span> <%= t ".login" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!--category + search + title -->

<div class="slider-area pt20">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="catagory-menu">
          <ul>
            <% Category.all.take(11).each do |c| %>
              <li>
                <%= link_to "#" do %>
                  <i class="glyphicon glyphicon-menu-right"></i>
                  <%= c.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="full-search-area popins-font">
          <div class="bt-search-banner">
            <div class="main-title">
              <h1>
                <%= t ".banner_title" %>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal search-->

<div id="search">
  <button type="button" class="close">×</button>
  <%= form_tag "#", method: :get do %>
    <%= search_field_tag nil, "",
      placeholder: t(".placeholder") %>
    <%= button_tag t(".btn_search"), type: "submit", class: "btn btn-primary" %>
  <% end %>
</div>